{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json",
    "createDefaultProgram": true
  },
  "plugins": [
		"prettier",
		"@typescript-eslint"
	],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/standard"
  ],
  "rules": {
    "no-console": 2,
    "semi": 2,
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  }
}